// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';


// Base-theme overrides.
@import 'overrides';

@mixin tag-buttons {
	padding: .5em 1em;
	background: $gray-lighter;
	margin-right: .5em;
	color: $gray;
	border-radius: 5px;
	text-transform: uppercase;
	line-height: 3em;
	font-size: 14px;
	cursor: pointer;
	&.bef-link-active{
		background:$du-dark;
	}
	&:hover{
		background:$du-asparagus;
		color: $gray-lighter;
		text-decoration:none;
	}
}

// Sections
body{
	margin-top:0;
	font-family: "open_sanslight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a{
	color:$link-color ;
}

h1.page-header, button, nav, h2, h3{
	font-family: "open_sanslight", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.date {
	margin-bottom: 13px;

}

// fix for overlapping main container
.col-sm-12{
	float:none;
	background:#fff;
	border-radius:5px 5px 0 0;
	h1{
		margin-bottom:0;
	}
}

// forms
.help-block {
	font-size:.8em;
}

.form-file.form-control {
	height: auto;
}

.btn-group > .btn + .dropdown-toggle {
	float:right;
}

.btn-contact {
	margin: 1em;
}

#block-newproject, #block-newprojectbutton, #block-newprojectbutton-2{
	.field--name-body{
		a{
			background:$du-asparagus;
			color:$du-gold;
			&:hover{
				background: $du-gold;
				color:$du-dark;
			}
		}
	}
}

#block-newprojectbutton {
	display: inline-table;
	@media screen and (min-width:767px) and (max-width:1203px){
		display: none;
	}
}
#block-newprojectbutton-2 {
	display: none;
	@media screen and (max-width:1203px){
		display: block;
		text-align: center;
		margin-top: 1rem;
		.field--name-body a {
			font-size: 2rem;
		}
	}
}

// Header
header.navbar-default{
	background: $du-dark;
	border: 0;
	border-bottom: $du-gold 3px solid;
	text-align:right;
	border-radius: 0;
	.container-fluid{
		width:90%;
		@media screen and (max-width:1203px) and (min-width:766px) {
			width: 100%;
		}
	}
	.navbar-header{
		.logo img{
			height:50px;
			margin: 5px;
			transition:.3s cubic-bezier(0.4, 0, 0.2, 1);
		}
	}

	#block-views-block-account-menu-block-1 {
		.views-row, .view-empty {
			display:flex;
			font-size:.7em;
			margin-left:2em;

			@media screen and (max-width:766px){
				margin: 0;
				justify-content: space-between;
			}

			.views-field {
				width: 60px;
				margin-right: 5px;
				text-align: center;
			}
			.views-field-field-user-image{
				img {
	 				border-radius: 50%;
	 			}
			}
			a{
				color: $du-green;
				text-transform: uppercase;
				border-bottom:thin solid $du-asparagus;
				padding:0;
				&:hover{
					color:$du-orange;
				}
				&.img-responsive,&.glyphicon-log-out{
					text-align:center;
					border-bottom:0;
					color:$gray-light;
					margin-right:15px;
				}
				&.account-link,
				&.logout{
					border-bottom:0;
					padding-top:.2em;
				}
			}
			.glyphicon-log-out::before {
				font-size:20px;
			}
		}
		.view-empty {
			text-align: center;
			a {
				font-size: 19px;
				line-height: 27px;
				text-decoration: none;
				margin: 0 auto;
			}
		}
		@media screen and (max-width:766px){
			margin-bottom: 18px;
		}
	}

	#block-minimus-main-menu {
		@media screen and (min-width:766px){
			margin-right: auto;
			height: 69px; 
			display: flex;
			align-items: center;
		}
	}

	// Mobile Nav dropdown
	.region-navigation-collapsible {
		text-align: center;
		@media screen and (min-width:766px){
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 69px; 
		}
		ul.navbar-nav li a {
			margin-bottom: 5px;
			text-transform: uppercase;
			color: gray;
			border-bottom: 0;
			&:hover {
				background-color: #8080801a;
			}
		}
	}

	ul.navbar-nav{
		@media screen and (min-width:766px){
			margin-left:2em;
		}
		li{
			a{
				color: $du-green;
				text-transform: uppercase;
				border-bottom:thin solid $du-asparagus;
				padding:0;
				@media screen and (min-width:766px){
					margin-right: 15px;
				}
				&:hover{
					color:$du-orange;
				}
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				color: $du-green;
				background-color: inherit;
				border-bottom: $du-asparagus thin solid;
			}
		}
	}
}

// Main
div.main-container{
	width:90%;

}

// Sidebar
.region-sidebar-second{
	h2{
		font-size:$font-size-h4;
		margin-top:0;
	}
}

// Pages
.page-header {
	border-bottom:0;
}

.signup {
	margin-top: 1em;
}

.path-project {
	#edit-views-send-message-format, #edit-views-send-message--description {
		display: none;
	}
}

// Front page
.path-frontpage{
	.bnrPic{
		background:url('/themes/minimus/images/e_.svg') no-repeat;
		background-size: auto 100%;
		height:370px;
		.efntxt_frnt{
			width:50%;
			margin-top: 2em;
			display: inline-block;
			p{
				color: $du-green;
				font-size:4em;
				line-height:1em;
				padding: 0 10px;
				margin-left: 2em;
				display:table;
				text-transform:lowercase;
				font-weight:50;
				img{
					border-bottom: thin solid $du-gold;
					padding:5px 20px;
					background:#fff;
				}
			}

		}
		.btns{
			width: 500px;
			margin-top:85px;
			margin-right:100px;
			text-transform:uppercase;
			display:inline-block;
			a{
				margin-bottom:.5em;
			}
		}
	}
	.main-container{
		.col-sm-12{
			background:transparent;
		}
	}
	.navbar{
		margin-top:0;
		margin-bottom:0;
	}

	// slider
	.view-id-featured_project_slider{
		.view-content{
			border-bottom: 5px solid $du-dark;
			border-top: 5px solid $du-dark;
			position:relative;
			// height:433px;
			overflow:hidden;
			background:$du-asparagus url("../images/seeds_bak.svg");
			background-size:cover;
		}
		.view-header{
			background: #3B4A59;
			color: #eeeeee;
			padding: 5px;
			font-size: .8em;
			position: relative;
			top: 43px;
			left: 30px;
			z-index: 99;
			display:inline-block;
		}
		.views-field.views-field-label {
			position: absolute;
			top:333px;
			left: 30px;
			.field-content{
				margin:0;
				background: #242029;
				color: #A4AD23;
				padding: 10px 15px;
				font-weight: 100;
				color: $du-orange;
			}
		}
		.prjct-summary{
			position: absolute;
			top:30px;
			left:30px;
			background: #242029;
			color: white;
			padding: 10px 15px;
			max-width:70%;
			h1{
				margin-top:0;
				a{

					color:$du-gold;
					display:block;
				}
			}
		}
		.views-slideshow-controls-bottom{
			position:absolute;
			right:1em;
			bottom:1em;
			z-index:999;
		}
		.views_slideshow_pager_field_item{
			display:inline-block;
			img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
				border: 5px solid $du-gold;
				z-index: 999;
				display:inline-block;
				margin-right:.5em;
			}
			&.active img{
				border: 5px solid $du-dark;
			}
		}
	}
}

// Project cards
.view-project{
	text-align: center;

	.views-row{
		border: $gray-dark thin solid;
		border-radius:5px;
		margin:15px;
		height:300px;
		width: 350px !important;
		display:inline-block;
		vertical-align:top;
		overflow:hidden;
		text-overflow: ellipsis;
		word-wrap:break-word;
		background:#fff;

		.views-field-field-project-image{
			border-bottom: thin solid $du-orange;
		}

		.views-field-field-project-summary-1{
			text-align:center;
			margin:0 1em 0 1em;

			line-height:1.3em;
			font-size:$font-size-small;
			h2{
				font-size: $font-size-base;
				text-transform: uppercase;
				font-weight:bold;
				padding: .2em .6em 0 0;
				margin:6px 0 6px;
				line-height:normal;
				a{
					color:$gray-dark;
				}
			}
		}
	}
	.view-footer{
		margin-top:1em;
	}
}

// Profile

// override shit in _tables.scss
.path-user, body.path-group{
	.table-striped, table{
		margin-bottom:0;
		> tbody > tr, .table-striped > tbody > tr:nth-of-type(odd){
			background-color: #fff;
			td{
				border-top:0;
				padding:0;
			}
		}
	}
}

.path-user{
	.view-profiles{
		.field{
			margin-top:1em;
		}
	}
	.profile-volunteer-add-form{
		#edit-field-other-wrapper{
			display:none;
		}
	}
	.member.label{
		font-size: inherit;
		padding: 0;
	}
}

// efn new user profile links
#block-efnprofilelinks-2{
	p{
		font-size:.85em;
	}
	.btn{
		margin-bottom:1em;
	}
	:last-child {
		margin-bottom:0;
	}
}

// group main page
body.path-group{
	background-position-y:73px;
	.navbar{
		margin-bottom:0;
	}
	.group-content-project-group-membership-group-join-form{
		margin-bottom:1em;
	}
	.group-header{
		height:400px; //put this in mediaquery
		overflow: hidden;
	}
	.nu-project-header{
		background: url("/themes/minimus/images/project_default.png") no-repeat;
		background-size:cover;
		height:300px;
		background-repeat: repeat-x;
	}
	.region-content{
		background:white;
		padding:1em;
		.groupWrapper{
			.field--label{
				font-weight:bold;
			}
			.field--name-field-project-type{
				margin-top:1em;
				.field--item{
					display:inline-block;
					a{
						@include tag-buttons;
					}
				}
			}

			.field:not(.field--name-field-user-image):not(.views-field-field-discussion):not(.field--name-field-comment-body):not(.field--name-field-image):not(.field--name-field-description):not(.field--name-field-project-type):not(.field--name-field-project-image){
				padding-bottom:2em;
				padding-top:2em;
				border-bottom: thin $gray-lighter solid;
				.field--label{
					width: 45%;
					display: inline-table;
					text-transform:uppercase;
				}
				.field--item{
					width: 45%;
					display: inline-table;
				}
				// show just the summary with js show rest link
				&.field--name-field-project-summary{
					display:block;
					padding-top:0;
					padding-bottom:1em;
					border-bottom:0;
				}
			}
			.field--name-field-tags{
				margin-top:1em;
				.field--item{
					display:inline-block;
					background: $gray-lighter;
					line-height: initial;
					margin-bottom: 5px;
					a{
						color:$gray;
					}
					&:hover{
						background:$du-green;
						a{
							color:$gray-lighter;
							text-decoration:none;
						}
					}
				}
			}
			.field--name-field-description{
				.field--label{
					text-transform:uppercase;
					font-weight:bold;
					margin-bottom:1em;

				}
			}
		}
	}

	// leave group
	.group-content-project-group-membership-group-leave-form{
		#edit-actions{
			margin-top:3em;
		}
	}

	// start a project form
	.missing-researcher{
		background:yellow;
		display:inline-block;
		padding:1em;
		a{
			text-decoration:underline;
			&:hover{
				font-weight:bold;
			}
		}
	}
}

.js-form-submit[value='Join group'], .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){
	font-size: 2rem;
	border-radius: 5px;
	padding: 1rem 2rem;
	float:none;
}

// Project Updates
.page-node-type-project-update article, .path-group{

	// PU Header
	.view-project-updates-by-node .view-header{
		border-top: thin $du-gold solid;
		border-bottom: thin $du-gold solid;
		margin: 1em 0;

		h3.pu-header{
			color:$du-dark;
			text-transform: uppercase;
			font-size: $font-size-base;
			padding: 10px 0;
			margin:0;
			line-height:initial;
		}
	}

	// tabs
	nav.tabs{
		ul.nav-tabs {
			border-bottom:0;
			display:inline-block;
			> li{
				&.active > a{
					border:0;
					border-bottom: 2px $du-asparagus solid;
				}
				> a{
					font-size: $font-size-small;
					&:hover{
						filter: alpha(Opacity=100);
						opacity: 1;
						color:$du-asparagus;
					}			}
				}
			}
		}
		h1{
			font-size: $font-size-h3;
			font-weight:bold;
			margin-top: 1em;
			display:inline-block;
			padding:5px;
			margin-top:.5em;
			border-bottom:0;
		}
		h3{
			font-size: $font-size-h4;
			letter-spacing: -1px;
			line-height: 30px;
			tab-size: 48px;
			text-size-adjust: 100%;
			font-weight: bold;
			display:inline-table;
		}
		.nodeAuthor{
			float:right;
			font-size:.8em;
			text-align:center;
			color:$gray-light;
			img{
				border-radius:50%;
				border: thin solid $gray-lighter;
				padding: 3px;
			}
		}
		.field--name-field-image{
			margin-top:1em;
			div.field--item{
				display:inline-block;
				margin-right:5px;
				vertical-align:top;
			}
		}
		.views-row{
			clear:both;
			&:first-of-type {
				h3{
					margin-top:0;
				}
			}
		}

		.views-field-changed{
			color: $gray-light;
			margin-bottom:.8rem;
		}

		.views-field-field-image{
			float:right;
			margin:.5rem;
		}

		// comments
		section[id^="node-project-update-field-discussion-"],#node-project-update-field-discussion, .views-field-field-discussion{
			margin:1em 0 2em 2em;
			.js-comment{
				clear:both;
				border:$gray-lighter thin solid;
				border-radius: 5px;
				padding:1em;
				margin-bottom:1em;
				overflow: auto;
				.authsays{
					font-size: $font-size-small;
					color:$gray-light;
				}
				.commentAuthor{
					float:left;
					article{
						margin-right: 1em;
					}
					img{
						width:50px;
						border-radius:50%;
						border: thin solid $gray-lighter;
						padding: 3px;
						margin-right:1em;
						float:left;
					}

					.views-col{
						width:100% !important;
					}
				}
				p.submitted{
					color:$gray-light;
					font-size: $font-size-small;
				}
			}
			h4{
				clear:both;
			}
			.commentForm, .form-type-textarea{
				clear:both;
				label.control-label{
					display:none;
				}
				.views-col{
					width:100% !important;
				}
			}
		}
	}

	// Projects page
	.path-projects{
		label.control-label{
			display:none;
		}
		form#views-exposed-form-project-page-3{
			#edit-actions{
				margin-top:10px;
			}
			.form-item-field-project-type-target-id{
				margin-bottom:10px;
			}
			text-align:left;
			#edit-field-project-type-target-id{
				.form-group a{
					@include tag-buttons;
				}
			}
			.form-type-textfield{
				width:100%;
				input{
					width:100%;
				}
			}
		}
	}

	// sidebar
	.region-sidebar-second{
		background:#fff;
		border-radius:5px;
		padding:5px;
		margin-top:10px;

		section.block{
			margin:30px 0 0;
			&.block-views-blockmember-admin-links-block-1 {
				margin: 0;
				text-align: center;
				a.btn-default {
					margin: 5px;
					.glyphicon {
						margin-right: 5px;
					}
				}
			}
			.view-profiles{
				display: flex;
				justify-content: center;
			}
		}

		#block-minimus-groupoperations{
			text-align:center;
			.dropdown-toggle {
				display:none;
			}
			ul.dropdown-menu{
				display: block;
				border: none;
				background-color: transparent;
				box-shadow: none;
				text-align: center;
				width: 100%;
				position: unset;
				padding-bottom: 0;
				li {
					a {
						display: inline-block;
						font-size: 2rem;
						border-radius: 5px;
						padding: 1rem 2rem;
						padding: 6px 12px;
						float: none;
					}
				}
				li a.hidden{
					display:block;
				}
				li.leave-group{
					a{
						border:0;
						font-size:.8em;
					}
				}
			}
		}

		#block-views-block-member-admin-links-block-2 {
			margin-top: 0;
			text-align: center;
		}

		.view-members-block, .view-group-member-test {
			font-size:.8em;
			text-align:center;
			color:$gray-light;
			.views-field-view-user{
				margin-bottom:20px;
			}

			.views-field-field-user-image, .views-field-view-user{
				display:inline-block;
				img{
					border-radius: 50%;
					border: thin solid #eeeeee;
					padding: 3px;
					display:inline;
				}
			}
		}

		.view-project-creator, .view-project-owner {
			text-align:center;
			font-size: 0.1;
			color: transparent;
			a {
				font-size:.8em;
				color: inherit;
				text-align:center;
				display: block;
			}

			.field--name-field-full-name {
				display: none;
			}
			img {
				display:inline-block;
				border-radius: 50%;
				border: thin solid #eeeeee;
				padding: 3px;
				display: block;
				width: 220px;
				height: auto;
				background: #efefef;
				margin: 0 auto;
			}
			.organizer-name {
				display: block;
				color: #242029;
				font-size: inherit;
				a{
					font-size: inherit;
				}
			}
		}
	}

	// user form stuff
	.panel#edit-timezone{
		border:0;
		box-shadow:none;
		.panel-heading{
			display:none;
		}
		.panel-body{
			padding:0;
		}
	}

	// footer
	footer.footer{
		color:$du-green;
		background: $du-asparagus;
		background-size:cover;

		.region-footer{
			// @include make-row();
			width:90%;
			margin-left:auto;
			margin-right:auto;
		}
		#block-footerblock1{
			@include make-lg-column(4);
			img{
				width:100%;
				margin-bottom:1em;
			}
		}
		#block-sociallinks{
			@include make-lg-column(4);
			text-align:center;
			padding-top:45px;
			.field--name-body{
				img{
					width:65px;
					margin:5px 10px;
				}
			}
			p:nth-of-type(1) {
				margin-bottom:3em;
			};

			a[href="/donate"], a.donateLink, .btn-donate{
				background: $du-dark;
				color: $du-gold;
				padding: 20px 40px;
				margin-top:2em;
				border-radius:5px;
				font-weight:bold;
				&:hover{
					background:$du-gold;
					color:$du-dark;
					text-transform:none;
				}
			}
		}

		#block-minimus-footer{
			@include make-lg-column(4);
			padding-top:45px;
			.nav{
				width:100%;
				> li {
					display:block;
					float:none;
					> a {
						display:block;
						color:$du-green;
						font-size:1.2em;
						margin: 0 auto;
						width: 6em;
						text-transform: uppercase;
						text-align: center;
						&:hover, &:focus{
							background:none;
						}
					}
				}

			}
		}
	}

	// mediaqueries

	@media screen and (max-width:515px) {
		.path-frontpage .bnrPic{
			height:inherit;
			.efntxt_frnt{
				margin-top: 1rem;
				p{
					font-size:inherit;
					padding:0;
					text-align:center;
					margin-left:0 !important;
					width:100%;
					img[src="themes/minimus/images/e.png"]{
						width: 242px;
					}
					img[src="/themes/minimus/images/f.png"]{
						width: 105px;
					}
					img[src="themes/minimus/images/n.png"]{
						width: 156px;
					}
				}
			}
			.btns.pull-right{
				margin-top:1em !important;
			}
		}
	}

	@media screen and (min-width:392px) and (max-width:490px) {
		footer.footer #block-sociallinks .field--name-body img{
			width:50px;
		}
	}

	@media screen and (min-width:345px) and (max-width:391px) {
		footer.footer #block-sociallinks .field--name-body img{
			width:40px;
		}
	}

	@media screen and (max-width:398px){
		a.logo{
			background:url(/themes/minimus/images/efn_short.svg);
			background-repeat: no-repeat;
			background-size: 111px 45px;
			width: 112px;;
			height: 45px;
			img{
				display:none;
			}
			button.navbar-toggle {
				margin-top: 10px;
			}

		}
	}

	@media screen and (max-width:346px) {
		footer.footer #block-sociallinks .field--name-body img{
			width:65px;
			margin: 10px 10px;
		}
	}

	// 767 = menu breakpoint
	@media screen and (max-width: 767px) {
		.navbar-default button.navbar-toggle{
			margin-top:16px;
			border-color: gray;
			.icon-bar {
				background-color: gray;
			}
			&:hover,
			&:focus {
				border-color: $du-orange;
				background-color: $du-dark;
				.icon-bar {
					background-color: $du-orange;
				}
			}
		}
		.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
			background-color: yellow;
		}
	}

	@media screen and (min-width:768px) and (max-width: 946px) {
		a.logo{
			width:50px;
			height:50px;
			background: url(../images/efn_logo.png);
			background-size: cover;
			margin:5px;
			img{
				display:none;
			}
		}

	}

	@media screen and (max-width: 792px) {
		.path-frontpage .bnrPic{
			.efntxt_frnt{
				width:100%;
			}
			.btns.pull-right{
				width:100%;
				margin-top:2em;
				float:none;
				text-align:center;
				a.btn{
					display:inline-block;
				}
				.btn-block + .btn-block {
					margin-top: 0;
				}
			}
		}
	}

	@media screen and (min-width:793px) and (max-width: 916px) {
		.path-frontpage .bnrPic{
			.efntxt_frnt{
				width:50%;
			}
			.btns.pull-right{
				width:40%;
				margin-right:2em;
				position: relative;
				bottom: -4em;
			}
		}
	}

	@media screen and (min-width:917px) and (max-width: 1024px) {
		.path-frontpage .bnrPic{
			.efntxt_frnt{
				width:50%;
			}
			.btns.pull-right{
				width:40%;
				margin-right:2em;
				position: relative;
				bottom: -4em;
			}
		}
	}

	@media screen and (max-width: 986px) {
		body.user-logged-in{
			ul.navbar-nav{
				&.navbar-right{
					margin-top:21px;
					[data-drupal-link-system-path="user"], [data-drupal-link-system-path="user/logout"]{
						display:none;
					}
				}
			}
		}
	}

	@media screen and (min-width:1025px) and (max-width: 1099px) {
		.path-frontpage .bnrPic .efntxt_frnt{
			width:inherit;
		}
		.btns.pull-right{
			margin-right:0;
			a{
				width:300px;
			}
		}
	}

	// @media all and (max-width: 1132px) {
	// 	header.navbar-default ul.navbar-right{
	// 		margin-left: 0;
	// 	}
	// 	body.user-logged-in {
	// 		header.navbar-default #block-newprojectbutton .field--name-body a{
	// 			font-size: .01em;
	// 			line-height: 0;
	// 			background: none;
	// 			&:after{
	// 				content:'+';
	// 				font-size: 31px;
	// 				line-height: 38px;
	// 			}
	// 		}
	// 	}
	// }

	@media screen and (max-width: 1297px) {
		.path-frontpage .bnrPic{
			.efntxt_frnt{
				p{
					margin-left:1em;
				}
			}
			.btns{
				margin-right:0;
				a{
					width:300px;
				}
			}
		}
	}

	// project view grid size tweaks
	@media screen and (max-width: 1320px) {
		div.main-container{
			width:inherit;
		}
	}

	@media screen and (max-width:369px){
		.view-project .views-row{
			width: unset !important;
		}
		.path-frontpage .bnrPic .btns a {
			width: auto;
		}
	}

	@media screen and (min-width:370px) and (max-width:753px){
		.view-project .views-row{
			width: 320px !important;
			margin:5px;
		}
	}

	@media screen and (min-width:755px) and (max-width:705px){
		.view-project .views-row{
			width: 320px !important;
			margin:5px;
		}
	}

	@media screen and (min-width:706px) and (max-width:809px){
		.view-project .views-row{
			width: 320px !important;
			margin:5px;
		}
	}

	@media screen and (max-width:1002px){
		#navbar .container-fluid{
			width: 100%;
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	@media screen and (min-width:937px) and (max-width:983px){
		.view-project .views-row{
			width: 277px !important;
			margin:5px;
		}
	}
	@media screen and (min-width:984px) and (max-width:1044px){
		.view-project .views-row{
			width: 300px !important;
			margin:5px;
		}
	}

	@media screen and (min-width:1045px) and (max-width:1104px){
		.view-project .views-row{
			width: 320px !important;
			margin:5px;
		}
	}

	@media screen and (min-width:1104px) and (max-width:1194px){
		.view-project .views-row{
			width: 320px !important;
		}
	}

	@media screen and (min-width:1300px) and (max-width:1753px){
		.view-project .views-row{
			margin:10px;
			width:320px !important;

		}
	}
