// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';


// Base-theme overrides.
@import 'overrides';


// Sections
body{
	margin-top:0;	
}

a{
	color:$link-color ;
}

// Header
header.navbar-default{
	background: $du-dark;
	border-bottom: $du-gold 3px solid;
	.container-fluid{
		width:90%;
	}
	.navbar-header{
		.logo img{
			height:70px;
			margin: 1em;
			transition:.3s cubic-bezier(0.4, 0, 0.2, 1); 

		}
	}
	ul.navbar-nav{
		margin-left:2em;
		margin-top: 1.5em;
		li{
			a{
				color: $du-green;
				text-transform: uppercase;
				border-bottom:thin solid $du-asparagus;
				padding:10px 15px 0 0;
				&:hover{
					color:$du-orange;
				}
				&.glyphicon-user,&.glyphicon-log-out{
					text-align:center;
					border-bottom:0;
					color:$gray-light;
				}
				&[data-drupal-link-system-path='user'], &[data-drupal-link-system-path='user/logout']{
					font-size:.7em;
					border-bottom:0;
					padding-top:.2em;

				}
			}
		}
	   > .active > a {
	      &,
	      &:hover,
	      &:focus {
	        color: $du-green;
	        background-color: inherit;
	        border-bottom: $du-asparagus thin solid;
	      }
	    }
 
	}

}

// Main
div.main-container{
	width:90%;
	margin-top:2.5em; //put this in mediaquery
}

// Sidebar
.region-sidebar-second{
	h2{
		font-size:$font-size-h4;
	}
}

// Front page
.path-frontpage{
	.bnrPic{
		background:url('/themes/minimus/images/seed_nodes.png');
		height:370px;
	    background-size: cover;
	    background-position-y: 360px;
	}
	.main-container{
		margin-top:-3em;
	}
	.navbar{
		margin-top:0;
	}

	// Project front page cards
	.view-project{
		.views-row{
			.views-col{
				border: $gray-dark thin solid;
				background: white ;
				background-size: cover;
				padding:115px 1em 1em 1em;
				border-radius:5px;
				margin:.5rem;	
				height:300px;
			    width: 23% !important;

			    h2.field-content{
			    	font-size: 1em;
				    text-transform: uppercase;
				    font-weight:bold;
				    // background: $gray-lighter;
				    display: inline-block;
				    padding: .2em .6em 0 0;
				    margin:0;

				    // border-top: 1px solid $gray-dark;
				    // border-bottom: 1px solid $gray-dark;
				    a{
				    	// color:$du-orange;
				    	color:$gray-dark;
				    }
			    }
			    .views-field-uid{
			    	color:$gray-light;
			    	font-size:.8em;
			    }
			    .views-field-field-project-image{
			    	display:none;
			    }
			    .views-field-field-project-summary{
			    	padding:.2em;
			    	margin-top:0;
			    	// background:$gray-lighter;
			    }
			    .views-field-field-location{
			    	font-size:.8em;
			    	border-top:1px dashed $gray-dark;
			    	margin-top:1em;
			    	p.address{
			    		display:inline;

			    	}
			    }
			}
		}

	}
}

 
// group main page
body.path-group{

	.region-content{
		background:white;
		padding:1em;
		border-radius:5px;
		.field--name-field-project-image,
		.field--name-field-description,
		.field--name-field-project-type,
		.field--name-field-researcher-background,
		.field--name-field-seeking-volunteers,
		.field--name-field-volunteers-how-many,
		.field--name-field-volunteers-ask-do,
		.field--name-field-volunteers-other-reqs,
		.field--name-field-multiyear,
		.field--name-field-volunteers-keep-seed,
		.field--name-field-privacy,
		.field--name-field-misc,
		.field--name-field-location,
		.field--name-field-location-geo{
			display:none;
			transition:5s cubic-bezier(0.4, 0, 0.2, 1); 
			&.toggleVFields{
				display:block; // uncomment when js ready please
			}
		}
		button.toggleVerbose{
			margin: 0 auto;
			z-index:999;
		    position: absolute;
		    right: 1em;
		}
		.field:not(.field--name-field-user-image):not(.views-field-field-discussion):not(.field--name-field-comment-body):not(.field--name-field-image){
			padding-bottom:2em;
			padding-top:2em;
			border-bottom: thin $gray-lighter solid;
			.field--label{
			    width: 45%;
			    display: inline-table;
			    text-transform:uppercase;																																																																																		
			    font-weight:normal;

			}
			.field--item{
			    width: 45%;
			    display: inline-table;
			}
			// show just the summary with js show rest link
			&.field--name-field-project-summary{
				display:block;
			}
		}
	}
}

.js-form-submit[value='Join group'], .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle){	
    font-size: 2rem;
    border-radius: 5px;
    padding: 1rem 2rem;
}


// Project Updates
.page-node-type-project-update article, .path-group{

	.field--name-field-image{
		// float:right;
																																																																																																																																																																																																					}
	// .author{
	// 	margin-bottom:1em;
	// 	color:$gray;
	// 	a{
	// 		color:$gray-darker;
	// 	}
	// }
	.views-row{
		clear:both;	
		&:first-of-type {
			h3{
				margin-top:0;
			}
		}
	}
	.views-field-changed{
		color: $gray-light;
		margin-bottom:.8rem;
	}
	.views-field-field-image{
		float:right;
		margin:.5rem;
	}

	// comments
	section[id^="node-project-update-field-discussion-"],#node-project-update-field-discussion, .views-field-field-discussion{
		margin:1em 0 2em 2em;
		.js-comment{
			clear:both;
			border:$gray-lighter thin solid;
			border-radius: 5px;
			padding:1em;
			margin-bottom:1em;

			.commentAuthor{
				// float:left;
				color:$gray-light;
				article{
					float:left;
					margin-right: 1em;
				}
				.view-display-id-user_view, .field--name-field-user-image{
					font-size:.001em;
					img.img-responsive{
						width:50px;
						display:block !important;
						border-radius:50%;
					}
					
				}
				.views-col{
					width:100% !important;
				}
			}

			p.submitted{
				color:$gray-light;
				font-size: $font-size-small;
			}
		}
		h4{
			clear:both;
		}
		.commentForm, .form-type-textarea{
			clear:both;
			label.control-label{
				display:none;
			}
			.views-col{
				width:100% !important;
			}
		}
		.js-form-submit{
			display:none;
		}
	}	


}


// sidebar
#block-views-block-project-updates-block-1-2{
	// background:yellow;
	.item-list ul {
		padding-left:0;
		li {
		    list-style-type: none;
		    margin-bottom: 1em;
		    footer{
		    	color:$gray-light;
		    	font-size:.8em;
		    }
		}
	}
}


// footer

footer.footer{
	background: $du-asparagus;
	#block-sociallinks{
		padding-bottom:2em;
		.field--name-body{
			text-align:center;
			p{
				img{
					width:80px;
					margin:1em;
				}
			}
		}
	}
}