/* line 2, ../sass/group-view.scss */
body.path-group .bump-title h1 {
  position: absolute;
  top: -109px;
  left: 30px;
  background: #242029;
  color: #A4AD23;
  padding: 10px 15px;
  font-weight: 100;
}
@media screen and (max-width: 485px) {
  /* line 2, ../sass/group-view.scss */
  body.path-group .bump-title h1 {
    top: -255px;
  }
}
@media screen and (max-width: 485px) {
  /* line 14, ../sass/group-view.scss */
  body.path-group .group-header {
    height: 250px;
  }
}
