# Schema for Geocoder Field module.

field.field.*.*.*.third_party.geocoder_field:
  type: mapping
  label: 'Geocoder Field field settings'
  mapping:
    method:
      type: string
      label: 'Geocode method'
    weight:
      type: integer
      label: 'Weight'
    geocode_field:
      type: string
      label: 'Field to geocode from'
    reverse_geocode_field:
      type: string
      label: 'Field to geocode to'
    hidden:
      type: boolean
      label: 'Hide field'
    disabled:
      type: boolean
      label: 'Disable field'
    plugins:
      type: sequence
      label: 'Geocoding plugins'
      sequence:
        type: string
    dumper:
      type: string
      label: 'Output format'
    delta_handling:
      type: string
      label: 'Multi-value input handling'
    failure:
      type: mapping
      label: 'Geocoding failure settings'
      mapping:
        handling:
          type: string
          label: 'Handling of geocoding failure'
        status_message:
          type: boolean
          label: 'Display a status message in case of failure'
        log:
          type: boolean
          label: 'Log the failure'
