/**
 * @file
 * Messages element styles.
 */

.messages {
  box-shadow: -8px 0 0 #3b3b3b; /* LTR */
}
[dir="rtl"] .messages {
  box-shadow: 8px 0 0 #3b3b3b;
  margin-left: 0;
}

.messages.messages--info {
  color: #31708f;
  background-color: #d9edf7;
  background-image: url(../images/icons/info.svg);
  border-color: #0074bd #0074bd #0074bd transparent;  /* LTR */
  box-shadow: -8px 0 0 #0074bd; /* LTR */
}
[dir="rtl"] .messages.messages--info {
  border-color: #0074bd transparent #0074bd #0074bd;
  box-shadow: 8px 0 0 #0074bd;
  margin-left: 0;
}


