/**
 * @file
 * Messages element styles.
 */

.messages {
  box-shadow: -8px 0 0 #3b3b3b; /* LTR */
}
[dir="rtl"] .messages {
  box-shadow: 8px 0 0 #3b3b3b;
  margin-left: 0;
}

.messages.messages--info {
  color: #31708f;
  background-color: #d9edf7;
  background-image: url(../images/icons/info.svg);
  border-color: #0074bd #0074bd #0074bd transparent;  /* LTR */
  box-shadow: -8px 0 0 #0074bd; /* LTR */
}
[dir="rtl"] .messages.messages--info {
  border-color: #0074bd transparent #0074bd #0074bd;
  box-shadow: 8px 0 0 #0074bd;
  margin-left: 0;
}

/**
 * Message close.
 */
.yamlform-message--close .messages {
  position: relative;
}

.yamlform-message--close .yamlform-message__link {
  display: none;
}

html.js .yamlform-message--close .yamlform-message__link {
  display: block;
  position: absolute;
  top: 11px;
  right: 10px;
  line-height: 24px;
  font-size: 24px;
}

.yamlform-message__link {
  color: inherit;
  opacity: 0.33;
}

.yamlform-message__link:link {
  border-bottom: none;
  text-decoration: none;
}

.yamlform-message__link:hover,
.yamlform-message__link:focus,
.yamlform-message__link:active {
  border-bottom: none;
  text-decoration: none;
  color: inherit;
  opacity: 1;
}

html.js .js-yamlform-message--close-storage {
  display: none;
}
